<div class="main-content">
    <p class="paragraph-title">
        Body Wraps
    </p>
    <p class="price-ast">
        *$10 Off all 90 Minute Massage Services!<br />
        <br />*Pre-Paid Packages Available – Pre-Pay for 6 Treatments and get the 7th FREE! One treatment a month is required, plus, 10% Off All Other Services!<br />
        <br />*Add Hot Stones, Hot Roll (towel) Treatment
        <br />or Aromatherapy to any treatment to enhance its effects for just $10 more.
    </p>
    <p class="paragraph">
        A Body Wrap is a beauty treatment which involves covering key areas of the body with lotions, oils, creams, or solutions containing natural ingredients, such as coconut oil, sea weed, or peppermint, followed by wrapping the body tightly in heat-retaining
        sheets or blankets to draw out impurities and toxins from the skin, promote weight loss, and soften and improve skin tone.
    </p>
    <br />
    <p class="paragraph-title">Peppermint Twist Body Wrap</p>
    <p class="paragraph">Renew your body and mind with this stimulating and invigorating wrap. This body-shaping treatment eliminates water retention with a seaweed masque which detoxifies, slims, contours, revitalizes and hydrates your skin with a twist of peppermint, while
        you are wrapped in a warm thermal blanket. The essences of peppermint will awaken your senses while a therapeutic scalp massage helps to balance and relax your entire body. Afterwards, a special seaweed lotion will be massaged into the skin. No
        Shower Required. Avoid shaving/waxing before this treatment.
        <br><br>For best results, client should receive 2 treatments per week for 6 weeks.
    </p>
    <p class="price">
        <br/>Partial Peppermint Body Wrap @ $60
        <br>Full Body Peppermint Body Wrap @ $95
    </p>
    <br />
    <p class="paragraph-title">Sea Weed Body Wrap
    </p>
    <p class="paragraph">
        This luxurious wrap detoxifies, stimulates and rejuvenates your skin. It starts with a deep-exfoliating dry brushing, followed by a soft seaweed cream application to detoxify your skin for several minutes while you are wrapped in a warm, thermal blanket.
        After cleansing your skin with hot towels, you will be massaged with a seaweed body lotion, leaving your skin feeling smooth, fresh, moisturized, and replenished.</p>

    <p class="price">
        <br/>Partial Sea Weed Body Wrap @ $55
        <br/>Full Body Sea Weed Body Wrap @ $85

    </p>
    <br />
    <p class="paragraph-title">Sea Salt Exfoliation

    </p>
    <p class="paragraph">
        A skin refining body treatment combining sea salts and natural minerals. This full body exfoliation will increase elasticity and leave your skin with a healthy, radiant, natural glow.
    </p>

    <p class="price">
        <br/>Partial Sea Salt Exfoliation Wrap @ $55
        <br/>Full Body Sea Salt Exfoliation Wrap @ $85


    </p>
    <br>
    <p class="paragraph-title">
        Disclaimer
    </p>
    <p class="paragraph">
        A 24-hour cancellation notification is required, otherwise a $20 fee will be implemented for a “no show.”
    </p>
    <p class="paragraph">
        Any services taking longer than 2 hours require a 20% non-refundable deposit/down payment along with a 24-hour cancellation notification.
    </p>
</div>