<div class="main-content">

    <img class="non-title-img home-image" src="../../assets/images/medoldy.jpeg" alt="">
    <h2 class="paragraph-title">About Melody</h2>
    <p>
        Melody John is a well-seasoned, licensed Massage Therapist in high demand, and for good reason: Her training and background in massage therapy has continued over 20+ years, with 2+ years of schooling, which is well over 3000 hours! She has 4 times more
        schooling than most massage therapists and continues growing her education further each year with more classes.
    </p>
    <p>
        Melody’s highly-intuitive experience gives her a very well-rounded feel for individual aspects of her clients needs. By incorporating Melody’s broad spectrum of talents and guidance, you will receive nearly every aspect you need to feel better and appear
        healthier than ever before.
    </p>
    <p>
        From 1996 – 2003, Melody took industry-related courses in Germany and received her original massage therapy license in Germany. After receiving her massage therapy license, she practiced 1 year of apprenticeship, and also went to night school for 1 year
        to receive a German facial specialty license in Mannheim, Germany. She proceeded with internships and working with physical therapists, orthopedic hospitals, rehabilitation clinics and more until she moved to the U.S.. When she moved to Florida,
        she updated her license, and she has continued taking updated courses to further her education and keep up with the newest treatments available.
    </p>
    <p>
        In 2011-12, Melody received her Florida Facials License.
    </p>
    <p>
        In Melody’s latest round of schooling in 2015, she completed the following:
        <br />
        <br /> ~Certificate to practice and teach Reiki as an Advanced Reiki Practitioner from Reiki Master Jason Hansra (Good Vibe Strategies).
        <br />
        <br />~Introduction in Yoga Therapy from Amrit Yoga Institute in Ocala, FL. ~Thai Massage by Ariella.
    </p>
    <p>
        Melody is specially requested by doctors, physical therapists, chiropractors, rehabilitation facilities, local gyms and trainers because of her extensive training and experience. Melody’s “magic touch” adjusts to each individual’s needs, which means she
        is strong enough to offer a deep tissue massage to weight trainers, yet gentle enough to be requested for treating cancer patients and the elderly. Melody’s experience has continually had her in very high demand for many years.
    </p>
    <p>
        Massage License #MA46276 <br /> Facials License #FB9742765
    </p>