<div class="main-content">
    <p class="paragraph-title">
        Mini-Facial
    </p>
    <p class="paragraph">Includes an appropriate cleaning, mask &amp; moisturizer. *30 mintes</p>

    <div class="paypal">
        <div class="row">
            <div class="col-md-6">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="F9E76LQPCVRDJ">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            <div class="col-md-6">
                <p class="price">$45.00</p>
            </div>
        </div>
    </div>
    <p class="paragraph-title">
        Fully Personalized Facial
    </p>
    <p class="paragraph">
        This relaxing and effective treatment consists of applying an appropriate cleanser, exfoliation, an intense face massage, followed by the appropriate mask, toner and moisturizer. Appropriate products will be used for the following conditions: acne, dry
        skin, sensitive/rosacea, combination skin, or mature skin. *
    </p>
    <p class="paragraph">
        Additional specialty treatments are also available at an additional charge, such as the following add-ons: Add Reiki to any Facial for additional $10
    </p>
    <div class="row">
        <div class="col-md-6">
            <p>2nd Mask = $10</p>
        </div>
        <div class="col-md-6">
            <p>Eye Treatment = $25</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>3rd Mask = $10</p>
        </div>
        <div class="col-md-6">
            <p>Lip Treatment = $10</p>
        </div>
    </div>
    <div class="paypal">
        <div class="row">
            <div class="col-md-6">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="Y83WTBNNKSBXY">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            <div class="col-md-6">
                <p class="price">$70.00</p>
            </div>
        </div>
    </div>
    <p>
        SELECTED PRODUCTS FOR SALE; PLEASE ASK ME.
    </p>
    <p class="price">Receive a 10% discount on a massage &amp; facial combo.</p>
</div>