<div class="main-content">
    <h2 class="paragraph-title">
        Contact
    </h2>
    <p>
        If you would like to book an Appointment, please contact Melody John at the following location:
    </p>
    <p class="address">
        <b>Melody John</b><br/> 4400 N. Highway 19A Suite 7 <br> Mount Dora, FL 32757
    </p>
    <p>Email: <a href="mailto:headtotoespallc@gmail.com">headtotoespallc@gmail.com</a></p>
    <p>Phone: <a href="tel:352-602-7849">(352)602-7849</a></p>
    <p>
        Print and fill out Your Client information Form to speed up your first visit:
        <br />
        <a href="../../assets/documents/clientInfo.pdf" download="clientInfo.pdf">Client-Info-Form.pdf</a>
    </p>
</div>