<div class="main-content">
    <p class="paragraph-title">
        Waxing
    </p>
    <br>
    <div class="row">
        <div class="col-md-6">
            <p>Aroma...............$26</p>
            <p>Full Legs...........$56</p>
            <p>Half Legs...........$38</p>
            <p>Eyebrow.............$12</p>
            <p>Eyebrow & Lips......$15</p>
        </div>
        <div class="col-md-6">
            <p>Bikini..............$40</p>
            <p>Back Partial........$45</p>
            <p>Full Back.......$55-$65</p>
            <p>Lips................$10</p>
        </div>
    </div>
</div>