    a {
        color: black;
        font-family: 'Luminari', fantasy;
    }
    
    a:active {
        color: fuchsia;
        font-family: 'Luminari', fantasy;
    }
    
    a:hover {
        color: fuchsia;
        font-family: 'Luminari', fantasy;
        text-shadow: 0px 0px 10px white;
    }
    
    .menu {
        width: 100%;
        height: 200px;
        margin-top: 10px;
        z-index: 1;
        position: relative;
    }
    
    .sub-menu {
        display: none;
    }
    
    .sub-menu:hover {
        display: block;
    }
    
    .menu-item {
        width: 20%;
        height: 100%;
        float: left;
        font-size: 15pt;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: 'Luminari', fantasy;
    }
    
    app-fab-menu2 {
        position: relative;
        z-index: 1;
    }
    
    .menu-item:hover {
        cursor: pointer;
    }
    
    @media screen and (min-width: 770px) {
        .menu {
            display: block;
        }
        .mobile-menu {
            display: none;
        }
    }
    
    @media screen and (max-width: 770px) {
        .arrow_icon {
            position: relative;
            top: -35px;
            left: 55px;
        }
        .menu {
            display: none;
        }
        .mobile-menu {
            display: block;
        }
        .mobile-menu-bar {
            background-color: black;
            width: 100%;
            height: 80px;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 1;
        }
        .mobile-menu .menu-body {
            width: 300px;
            height: 100%;
            background-color: aliceblue;
            position: fixed;
            left: 0px;
            top: 80px;
            z-index: 1;
            display: block;
        }
        .mobile-menu-bar-button {
            width: 100px;
            height: 100%;
            color: white;
            background-color: lightgray;
            display: none;
        }
        .mobile-menu .menu-body .menu-item {
            float: none;
            width: 100%;
            height: 40px;
            font-size: 18pt;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            font-family: 'Luminari', fantasy;
            border: 1px solid black;
        }
        .mobile-menu-title {
            font-size: 30pt;
            width: 100%;
            height: 40px;
            top: 10px;
            display: block;
            position: relative;
            text-align: center;
            color: rgb(196, 183, 183);
            text-shadow: 0px 3px 5px rgb(255, 215, 130);
        }
    }