
button[mat-mini-fab] {
  position: absolute;
  position: absolute;
  left: 115px;
}

mat-label {
    position: absolute;
    height: 20px;
    width: 100px;
    display: block;
    padding: 5px 5px 5px 10px;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 5px;
    left: -10px;
  }
  mat-label:hover {
    cursor: pointer;
  }

  .menu-item-body{
    width: 200px;
    height: 30px;
  }