<div class="main-content">
    <p class="paragraph-title">Massages</p>
    <p>Massage descriptions/prices below. Massages offered: Segment Massages, Sports Massages, Dry Brush Massage, Hot Stone Treatment, Lymphatic Drainage Massage, Migraine Therapy, Obstipation Massage, Reiki Treatments, Relaxing Massage, Tensegrity Massage,
        Thai Massage, Reflexology, Therapeutic Stretching, and other customized massages based upon what ails you.</p>
    <br />
    <p class="price-ast">
        *$10 Off all 90 Minute Massage Services!<br />
        <br />*Pre-Paid Packages Available – Pre-Pay for 6 Treatments and get the 7th FREE! One treatment a month is required, plus, 10% Off All Other Services!<br />
        <br />*Add Hot Stones, Hot Roll (towel) Treatment
        <br />or Aromatherapy to any treatment to enhance its effects for just $10 more.
    </p>
    <br />
    <p class="paragraph-title">Segment Massages (Tissue Massage)</p>
    <p class="paragraph">This is a unique massage with special handholds that work impulses on the connective tissues and which transmit to the organs situated below them, relieving tension and stress as well as loosening tight areas.</p>
    <p class="price">
        1/2 Hr. Segment Massage = $45 <br/> 1 Hr. Segment Massage = $75<br/>
    </p>
    <br />
    <p class="paragraph-title">Sports Massages
    </p>
    <p class="paragraph">
        Perfect Massage for sports enthusiasts! The Sports Massage is designed to increase flexibility or to release tension and tight muscles before or after your workouts.
    </p>
    <p class="price">
        1/2 Hr. Sports Massage = $45 <br/> 1 Hr. Sports Massage = $75<br/>
    </p>
    <br />
    <p class="paragraph-title">Dry Brush Massage
    </p>

    <p class="paragraph">
        A Dry Brush massage is a circular massaging action performed with a soft-bristled, dry brush. It stimulates the skin and circulation, promotes detoxification, and helps exfoliate dry dead skin. Furthermore, this circular massaging action stimulates the
        nerve endings and lymphatic system to encourage the body’s natural healing and cleansing process.
    </p>
    <p class="price">
        1/2 Hr. Dry Brush Massage = $40<br />
    </p>
    <br />
    <p class="paragraph-title">Relaxation Massage - Light to Medium Pressure</p>
    <p class="paragraph">
        Light to Medium Pressure. This massage encompasses a variety of techniques specifically designed to relax muscles by applying pressure to them against deeper muscles and bones, rubbing in the same direction as the flow of blood returning to the heart.
        It involves the use of kneading, stroking, friction, tapping, and vibration, and may provide relief from stiffness, numbness, pain, constipation, and other health problems. The main purpose of a relaxation (aka Swedish) massage is to increase
        the oxygen flow in the blood and release toxins from the muscles.
    </p>
    <p class="price">
        1/2 Hour @ $40<br /> 1 Hour @ $65<br /> 90 Min @ $95<br/>
    </p>
    <br />
    <p class="paragraph-title">Therapeutic Massage - Light to Deep Massage</p>
    <p>A deeper, more invigorating massage using a mixture of different therapeutic modalities and techniques individualized to the patients needs or problem areas.
    </p>
</div>