<div class="main-content">
    <p class="paragraph-title">Massages</p>
    <p>Experience the long-lasting benefits of a monthly massage! Plus - if you Pre-pay for 6 treatments, you'll get the 7th free.
    </p>

    <p class="paragraph-title">RELAXATION MASSAGE - Light to Medium Pressure</p>
    <p class="paragraph">
        A massage specifically designed to relax muscles, provide relief from stiffness, numbness, pain, constipation, and more by the use kneading, stroking, friction, tapping and vibration, increasing the oxygen flow in the blood and releasing toxins from the
        muscles.
    </p>
    <p class="price">1/2 Hour @ $40, 1 Hour @ $65, 90 Min @ $95</p>

    <p class="paragraph-title">THERAPEUTIC MASSAGE - Light to Deep Massage</p>
    <p>A deeper, more invigorating massage using a mixture of different therapeutic modalities and techniques individualized to the patients needs or problem areas.
    </p>
</div>