<!-- <mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Massages">
        <massages></massages>
    </mat-tab>
    <mat-tab label="Body Wraps">
        <body-wraps></body-wraps>
    </mat-tab>
    <mat-tab label="Waxing">

    </mat-tab>
</mat-tab-group> -->
<div class="main-content">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Massages
                </mat-panel-title>
                <mat-panel-description>
                    Tap to learn more about massages
                </mat-panel-description>
            </mat-expansion-panel-header>
            <massages></massages>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Body Wraps
                </mat-panel-title>
                <mat-panel-description>
                    Tap to learn more about our body wraps
                </mat-panel-description>
            </mat-expansion-panel-header>
            <body-wraps></body-wraps>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Waxing
                </mat-panel-title>
                <mat-panel-description>
                    Tap to learn more about our waxing services
                </mat-panel-description>
            </mat-expansion-panel-header>
            <waxing></waxing>
        </mat-expansion-panel>
    </mat-accordion>
</div>