<div class="main-content">
    <div class="mobile-buffer"></div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="material-icons">waves</mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    Massages
                </mat-panel-description>
            </mat-expansion-panel-header>
            <massages></massages>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="material-icons">waves</mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    Body Wraps
                </mat-panel-description>
            </mat-expansion-panel-header>
            <body-wraps></body-wraps>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="material-icons">waves</mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    Waxing
                </mat-panel-description>
            </mat-expansion-panel-header>
            <waxing></waxing>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="material-icons">waves</mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    Facial Treatments
                </mat-panel-description>
            </mat-expansion-panel-header>
            <facials></facials>
        </mat-expansion-panel>
    </mat-accordion>
</div>