@media screen and (min-width: 770px) {
    mat-panel-title {
        color: white;
        font-size: 18pt;
    }
    mat-panel-description {
        color: white;
        font-size: 17pt;
    }
    .mobile-buffer {
        display: none;
    }
}

@media screen and (max-width: 770px) {
    .mobile-buffer {
        width: 100%;
        height: 100px;
        display: block;
    }
    mat-panel-title {
        color: white;
        font-size: 10pt;
    }
    mat-panel-description {
        color: white;
        font-size: 8pt;
    }
}