/* You can add global styles to this file, and also import other style files */

@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
html {
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100%;
}

.alert {
    -webkit-border: 1px solid black;
    -moz-border: 1px solid black;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2px;
    text-align: center;
}

.container {
    background-color: transparent;
}

.fushia {
    color: fuchsia;
    background-color: fuchsia;
}

h1 {
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
    height: 400px;
    color: white;
    font: 8em bolder;
    text-align: center;
}

.price-ast {
    font-weight: bold;
    color: red;
}

.title {
    font-size: 4em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    color: black;
    text-shadow: 0px 0px 10px white;
}

p {
    font-size: 18pt;
    word-wrap: normal;
    color: black;
    text-align: left;
    font-family: 'tahoma', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

p mat-panal-title {
    background-color: beige;
}

.address {
    margin-top: 100px;
    height: auto;
}

.paragraph-title {
    font-size: 20pt;
    word-wrap: normal;
    font-family: 'Luminari', fantasy;
    text-shadow: 0px 0px 10px white;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 10px;
}

.price {
    text-decoration: underline;
}

.mat-tab-label-content {
    font-size: 18pt !important;
    color: white;
}

.non-title-img {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
}

.mat-tab-body-wrapper {
    margin-top: 50px;
}

@media screen and (max-width: 770px) {
    .main-content {
        position: relative;
        z-index: 0;
        background-color: bisque;
    }
    #title_logo {
        display: none;
    }
    .body-overlay {
        width: 100%;
        height: 600px;
        background-color: rgba(100, 100, 100, 0.6);
        position: fixed;
        margin: 0px !important;
        left: 0px;
        top: 0px;
    }
    app-fab-menu {
        position: relative;
        bottom: 0px;
    }
    img {
        margin-top: 100px;
        width: 330px;
        height: 300px;
    }
    p {
        text-align: center;
        font-size: 18pt;
        font-family: 'Luminari', fantasy;
    }
    .paragraph-title {
        font-size: 30pt;
        word-wrap: normal;
        font-family: 'Luminari', fantasy;
        text-shadow: 0px 0px 10px pink;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 10px;
    }
    .main-content {
        height: 100%;
        margin-top: 20%;
    }
}

@media screen and (min-width:770px) {
    .main-content {
        position: relative;
        z-index: 0;
        background-color: whitesmoke;
        border-radius: 10px;
    }
    #title_logo {
        width: 100%;
        position: relative;
        z-index: 1;
    }
}