img {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.paragraph {
    font-size: 18pt;
    word-wrap: normal;
    font-family: 'Pacifico', cursive;
    text-shadow: 0px 0px 10px white;
    text-align: left;
}

.address {
    margin-top: 100px;
    height: auto;
}

.large-centered-font {
    font-size: 30pt;
    text-align: center;
}

@media screen and (max-width: 760px) {
    img {
        margin-top: 80px;
    }
    .paragraph {
        text-align: center;
    }
}