<div>
  <img src="../../assets/images/image1.jpeg" alt="">
  <p class="paragraph">
      &nbsp;&nbsp;&nbsp;&nbsp; Melody is specially requested by doctors, physical therapists, chiropractors, rehabilitation facilities,
      local gyms, and trainers because of her extensive training and experience. Melody’s “magic touch” adjusts to each individual’s needs,
      which means she is strong enough to offer a deep tissue massage to weight trainers, yet gentle enough to be requested for treating cancer patients and the elderly.
      It’s time to treat yourself, relax, and feel Wonderful.
      Take care of yourself and allow the “magic touch” to take care of you.
  </p>
  <p class="paragraph address">
    Melody’s services are based at:<br/>
    The Fringe Salon &amp; Spa&amp; <br/>
    4400 N Highway 19a<br/>
    Mt Dora, FL 32757

  </p>
</div>

