<div class="main-content">
    <img src="../../assets/images/image1.jpeg" alt="">
    <p class="paragraph">
        &nbsp;&nbsp;&nbsp;&nbsp; Melody is specially requested by doctors, physical therapists, chiropractors, rehabilitation facilities, local gyms, and trainers because of her extensive training and experience. Melody’s “magic touch” adjusts to each individual’s
        needs, which means she is strong enough to offer a deep tissue massage to weight trainers, yet gentle enough to be requested for treating cancer patients and the elderly. It’s time to treat yourself, relax, and feel Wonderful. Take care of yourself
        and allow the “magic touch” to take care of you.
    </p>
    <p class="paragraph address">
        Melody’s services are based at:<br/> The Fringe Salon &amp; Spa&amp; <br/> 4400 N Highway 19a<br/> Mt Dora, FL 32757
    </p>

    <p class="paragraph">
        Melody’s services and treatments include: Swedish Massages, Deep Tissue Massages, Facials, Hot Stone Massages, Lymphatic Drainage, Reflexology (Foot Reflex Zone Therapy), Tensegrity (Loosens Tight Skin / Tissue Massage), Sports Massages, Segment Massages
        (Tissue Massage), Brush Massages (dry brushing), Migraine Therapy, Obstipation Massage, Facials, Contouring & Firming Eye Treatments, Body Wraps, Sea Weed Body Wraps, Peppermint Twist Body Wraps, Sea Salt Exfoliation, Waxing,  Aromatherapy, Hot
        Stones, Paraffin Treatment for hand or feet, Hand or Foot Hot & Cold Bath, Therapeutic Stretching, Hot Roll Treatment (heating treatment), Scrubs & Peeling Exfoliation, Hand or Foot Exfoliation, Gift Certificates, Packages, The Work Release, The
        Busy Bee, Just For Me, Touch of the Earth, Body & Soul Renewal, Heaven on Earth, and other Helpful Information.

    </p>
</div>